canvas{
  position: fixed;
  top: 70px;
  left: 0;
}

#NavBar{
  height: 70px;
}

#button{
  background-color: #539DFF;
  color: white;
  letter-spacing: 2px;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  /*font-family: 'Alfa Slab One', cursive;*/
}